/*
 main: 12617F
 dark: 282A36
 link: F58807 -> C25500
 text: FAEDC1
 */


/* Resets */

body, p, h1, h2 {
  mainrgin: 0;
  padding: 0;
  border: 0;  
}

body { 
  font: inherit;
  
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  
  background: #12617F;
  color: #FAEDC1;
  
  margin-bottom: 60px;
}

h1, h2, h3 {
  margin: 0 0 10px 0;
  color: #282A36;
  line-height: 1em;
}

p {
  margin: 10px 0;
}

/* Utility */

.float-right {
  float: right;
  margin-left: 15px;
}

.float-left {
  float: left;
  margin-right: 15px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 900px;
  margin: 40px auto 0px;
}

/* Style */

.profile small {
  margin-left: 10px;
  color: #FAEDC1;
}

img.avatar {
  width: 200px;
  border: 1px dotted grey;
}

.tabbed-info.tabs ul {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.tabbed-info.tabs li {
  float: left;
  
  font-weight: 500;
  
  border: 1px solid #333;
  border-radius: 8px 8px 0 0;

  padding: 6px 18px;
  margin: 0 8px 0 0;
  
  background: #282A36;
  color: #FAEDC1;
}

.tabbed-info.tabs li.active {
  border-bottom: 1px solid #aaa;
  
  background: #FAEDC1;
  color: #282A36;
}

.tabbed-info.tabs li:hover {
  border-bottom: 1px solid #aaa;
  background: #FAEDC1;
  color: #282A36;
}

.title {
  font-size: 32px;
  margin-bottom: 12px;
  
  color: #282A36;
  font-weight: 500;
}

.content {
  display: none;
  
  border: 1px solid #333;
  border-radius: 0 8px 8px 8px;
  padding: 20px;
  
  background: #2C7B99;
}

.content.active {
  display: block;
}

.content h1 > a {
  font-size: 28px;
}

a {
  font-weight: 500;
  text-decoration: none;
  
  color: #FFD554;
}

a:hover {
  text-decoration: underline;
}

.preview > a > img {
  height: 200px;
}

.preview.pull-left > img {
  margin-right: 20px;
}

.preview.pull-left {
  margin-left: 20px;
}

.links > ul {
  margin: 0;
  padding: 0; 
  
  list-style: none;
}

.links a {
  font-size: 28px;
}

.links ul.sublist {
  margin: 0 0 20px 0;
  list-style: none;
}

.links ul.sublist a {
  font-size: 18px;
}
