body, div, h1, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: sans-serif;
  background: #ddd;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin: 10px;
  color: darkgreen;
}

h1 strong {
  color: darkred;
}

.game {
  width: 524px;
  margin: auto;
}

ul {
  padding: 2px;
  list-style: none;
  width: 520px;
  margin: auto;
}

.board li {
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid black;
  border-radius: 4px;
  float: left;
  background: cornflowerblue;
}

h1.message {
  text-size: 20px;
}

li.snake-body {
  background-color: darkgreen;
}

li.snake-head {
  background-color: gold;
}

li.apple {
  position: relative;
  background-image: url("bird.gif");
  background-size: 30px 30px;
}

li.portal {
  background: orange;
  border: 2px solid blue;
  width: 22px;
  height: 22px;
  border-radius: 8px;
}

.container {
  width: 524px;
  margin: 20px auto;
}

.container h1 {
  font-size: 24px;
}

.container h4 {
  margin: 8px 0;
  font-weight: normal;
}